{% extends 'main.html' %}

{% block content %}

<div class="absolute top-4 left-4">
  <a href="{% url 'nutritions' %}" class="hover:bg-blue-400 group flex items-center rounded-md bg-blue-500 text-white text-sm font-medium pl-2 pr-3 py-2 shadow-sm">
    <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M15 18l-6-6 6-6" />
    </svg>
    Back
  </a>
</div>


<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-lg">
        <form class="form" method="POST">
            {% csrf_token %}

            <p class="text-gray-800 font-bold mb-4">Are you sure you want to delete "{{ object }}"?</p>

            <input class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit" value="Confirm" />
        </form>
    </div>
  </div>
  
{% endblock content %}