<!doctype html>
{% load static %}

<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>NutritionalValues</title>
  {% block title %}

  {% endblock title %}


  <link rel="stylesheet" href="{% static 'styles/main.css' %}">  
  <script src="https://cdn.tailwindcss.com"></script>

  {% block components %}

  {% endblock components %}


</head>
<body>
  {% include 'navbar.html' %}

  {% include 'alert.html' %}

	{% block content %}

  {% endblock content %}

  <script src="{% static 'js/main.js' %}"></script>

</body>
</html>